@model Application.Person.PersonVM
@{
    ViewData["Title"] = "Home Page";
}


<span>@Model.Name</span>

<form asp-controller="Home" asp-action="Update" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
    <input asp-for="Id" type="hidden" />
    <input asp-for="Age" />
    <span asp-validation-for="Age"></span>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>
    <input type="submit" value="submit" />
</form>


@await Component.InvokeAsync("Person")
@section Scripts {
    @*@{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }*@
}