@model Application.Person.PersonVM
@{
    ViewData["Title"] = "Home Page";
}


<span>@Model.Name</span>

<form asp-controller="Home" asp-action="Update" method="post">

    <input asp-for="Age" />
    <span asp-validation-for="Age"></span>
    <input type="submit" value="submit" />
</form>
