package-lock.json
WebTest/Application/bin/
WebTest/Application/obj/
WebTest/Domain/bin/Debug/
WebTest/Domain/obj/
WebTest/Infrastructure/bin/
WebTest/Infrastructure/obj/
WebTest/Test/bin/
WebTest/Test/obj/
WebTest/WebTest/bin/
WebTest/WebTest/obj/
WebTest/.sonarqube/
