@{
    ViewBag.Title = "Confirm Email";
}

<h2>Votre compte est validé.</h2>
<div>
    <p>
        Merci d'avoir confirmer votre email. @Html.ActionLink("Clicker ici pour vous connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>


