@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Un email vous a été envoyé pour réinitialiser votre mot de passe.
    </p>
</div>